@model IEnumerable<CustomerDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Customers</h1>

    <p>
        <input type="button" class="btn btn-outline-primary" value="Add customer" onclick="@("window.location.href='" + @Url.Action("Create") + "'");" />
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ContactPerson.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ContactPerson.Surname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ContactPerson.Patronymic)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ContactPerson.PhoneNumber)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ContactPerson.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ContactPerson.Surname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ContactPerson.Patronymic)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ContactPerson.PhoneNumber)
                    </td>
                    <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                            <a href="#" onclick="SubmitRedirect('Customers', 'Delete', '@item.Id', 'Are you sure you want to delete?')"> Delete </a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
