@model IEnumerable<TransportDto>

@{
    ViewData["Title"] = "Index";
}

@section LeftMenu{@{await Html.RenderPartialAsync("RedirectPanel"); } }

<h1>Transport</h1>
@if (request.HttpClient.UserRoles.Contains("Manager"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoadCapacity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoadCapacity)
                </td>
                <td>

                    @Html.ActionLink("Driver", "Details", new { id = item.Id })
                    @if (request.HttpClient.UserRoles.Contains("Manager"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                        <a href="#" onclick="SubmitRedirect('Transport', 'Delete', '@item.Id', 'Are you sure you want to delete?')"> Delete </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
