@inject PermissionsHelper _permissionHelper

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CargoTransportation</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CargoTransportation</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">                        
                        @if (User.Identity.IsAuthenticated)
                        { 
                            <li class="nav-item">
                                <div class="dropdown">
                                    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @ViewBag.SelectedTab?.ToString()
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">

                                        @{ var active = " active"; }
                                        <input type="button" class="dropdown-item @if(ViewBag.SelectedTab?.ToString() == "Home"){@active}" value="Home" onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");" />
                                        <input type="button" class="dropdown-item @if(ViewBag.SelectedTab?.ToString() == "Orders"){@active}" value="Orders" onclick="@("window.location.href='" + @Url.Action("Index", "Orders") + "'");" />
                                        <input type="button" class="dropdown-item @if(ViewBag.SelectedTab?.ToString() == "Routes"){@active}" value="Routes" onclick="@("window.location.href='" + @Url.Action("Index", "Routes") + "'");" />
                                        <input type="button" class="dropdown-item @if(ViewBag.SelectedTab?.ToString() == "Cargoes"){@active}" value="Cargoes" onclick="@("window.location.href='" + @Url.Action("Index", "Cargoes") + "'");" />
                                        <input type="button" class="dropdown-item @if(ViewBag.SelectedTab?.ToString() == "Customers"){@active}" value="Customers" onclick="@("window.location.href='" + @Url.Action("Index", "Customers") + "'");" />
                                        <input type="button" class="dropdown-item @if(ViewBag.SelectedTab?.ToString() == "Transport"){@active}" value="Transport" onclick="@("window.location.href='" + @Url.Action("Index", "Transport") + "'");" />
                                        <input type="button" class="dropdown-item @if(ViewBag.SelectedTab?.ToString() == "Categories"){@active}" value="Categories" onclick="@("window.location.href='" + @Url.Action("Index", "CargoCategories") + "'");" />
                                    </div>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">About</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-justify" href="@Url.Action("AddRole", "Authentication")">Add role to user</a>
                            </li>
                        }
                    </ul>
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    <div align="right" class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <input type="button" class="btn btn-dark" value="Logout" onclick="@("window.location.href='" + @Url.Action("Logout", "Authentication") + "'");" />
                    </div>
                }
            </div>
        </nav>
    </header>

    <div role="main" class="container-fluid mh-100">
        <div class="container">
            @RenderBody()
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - CargoTransportation - <a asp-area="" asp-controller="Home" asp-action="About">About</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
