
    <div class="float-left border-right border-bottom text-muted" style="height:500px; width:150px; background-color: ghostwhite">
        <ul class="nav flex-column nav-pills">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Orders")">Orders</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Customers")">Customers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "CargoCategories")">CargoCategories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Cargoes")">Cargoes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  href="@Url.Action("Index", "Transport")">Transport</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Routes")">Routes</a>
            </li>
        </ul>
    </div>