@model IEnumerable<RouteDto>

@{
    ViewData["Title"] = "Index";
}

@section LeftMenu{@{await Html.RenderPartialAsync("RedirectPanel"); } }

<h1>Routes</h1>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransportRegistrationNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransportRegistrationNumber)
                </td>
                <td>
                    @Html.ActionLink("Cargoes", "Cargoes", new { id = item.Id })

                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                        <a href="#" onclick="SubmitRedirect('Routes', 'Delete', '@item.Id', 'Are you sure you want to delete?')">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
